
# FAST API
APP_ENV=dev
PORT=8001
FRONTEND_ORIGIN=http://localhost:3000

# GRPC SERVER
GRPC_SERVER_ORIGIN=localhost
GRPC_SERVER_PORT=8000
BOT_SECRET=hellobots

# DB_STUFF
DB_NAME=dalalstreet_bots
DB_PWD=password
DB_USER=user
DB_HOST=0.0.0.0
DB_PORT=3306
DB_URI=scheme://user:password@localhost:3306/dalalstreet_bots
DB_SCHEME=mysql
DB_MIN_CONNECTION_POOL_COUNT=10
DB_MAX_CONNECTION_POOL_COUNT=10
